<div class="mainContainer">
    <div class="searchResetContainer">
        <app-search></app-search>
    </div>
    <div class="mapAndEnd">
        <div class="mapContainer">
            <div style="height: 300px;" leaflet leafletDraw [leafletDrawOptions]="drawOptions"
                [leafletOptions]="options" (leafletDrawCreated)="onDrawCreated($event)" [(leafletCenter)]="center"
                [(leafletZoom)]="zoom" (leafletMapReady)="onMapReady($event)" style="height: 400px;">
                <div [leafletLayer]="drawnItems"></div>
                <div class="click" appLoadShapes style="left:1em">Anterior</div>
                <div class="click" appLoadShapes style="left:6em">Siguiente</div>
            </div>
        </div>
        <div class="endPoints">
            <h3 class="">Listado de localizaciones</h3>
            <app-list-markers [data]="layers">
            </app-list-markers>

            <ng-template #elseBlock="">No hay registros en ésta área del mapa.</ng-template>
            <div class="addEndPoint" #addAddEndPointNode>
                <div class="innerAddEndPoint">
                    <h3 class="">Crear nuevo marcador</h3>
                    <label for="name" class="">Nombre</label>
                    <input type="text" placeholder="Nombre" id="name" class="" #addNameNode>
                    <label for="description" class="">Descripción</label>
                    <input type="text" placeholder="Descripción" id="description" class="" #addDescriptionNode>
                </div>
            </div>
        </div>
    </div>
</div>

<app-pagination [paginates]="this.paginationArr" [pageSelected]="this.pageSelected"></app-pagination>