<div class="mainContainer">
    <div class="selectedApi">
        <label for="selectedApi" class="">Seleccionar Api</label>
        <select (change)="changeApi($event)" name="selectedApi" id="" class="">
            <option value="{{ true }}" class="">agrestaApi</option>
            <option value="{{ false }}" class="">myApi</option>
        </select>
    </div>
    <div class="mapAndEnd">
        <div class="mapContainer">
            <div class="searchResetContainer">
                <app-search></app-search>
                <button id="updateBtn" (click)="addStuffToMap()">Actualizar</button>
            </div>
            <div id="map">
            </div>
        </div>
        <div class="endPoints">
            <h3 class="">Listado de localizaciones</h3>
            <div class="" *ngIf="currentData?.length; else elseBlock">
                <app-list-markers [data]="currentData">
                </app-list-markers>
            </div>
            <ng-template #elseBlock="">No hay registros en ésta área del mapa.</ng-template>
            <div class="addEndPoint" #addAddEndPointNode>
                <div class="innerAddEndPoint">
                    <h3 class="">Crear nuevo marcador</h3>
                    <label for="name" class="">Nombre</label>
                    <input type="text" placeholder="Nombre" id="name" class="" #addNameNode>
                    <label for="description" class="">Descripción</label>
                    <input type="text" placeholder="Descripción" id="description" class="" #addDescriptionNode>
                    <button (click)="addEndPoint()">Añadir</button>
                    <button (click)="closeAddEndPoint()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-pagination [paginates]="this.totalPagesArr"></app-pagination>