table,
th,
tr,
td {
    border: 1px solid gray;
}

table {
    margin-top: 5em;
    margin-bottom: 7em;
}

tr {
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #e0e0d1;
}

td,
th {
    padding: .2em;
}