<header class="">
    <div class="logo">
        <img src="/assets/images/logo.png" alt="" class="">
    </div>
    <div class="mainName">
        <h2 class="">Bienvenido a Agresta</h2>
    </div>
</header>

<div id="menu">
    <a routerLink="/" routerLinkActive="active">Información</a>
    <a routerLink="/page2" routerLinkActive="active">Ir al mapa</a>
</div>

<router-outlet></router-outlet>

<footer class="">
    <h5 class="" style="margin-left: 1em;">
        Esta web ha sido realizada por &regWebsiWebs
    </h5>
</footer>